img {
    width: 200px;    
}
#original-bow{
    -webkit-filter: hue-rotate(0deg) brightness(100%);
    filter: hue-rotate(0deg) brightness(100%);
}

#green-button{
    -webkit-filter: hue-rotate(138deg) brightness(200%);
    filter: hue-rotate(138deg) brightness(200%);
}
#blue-button {
    -webkit-filter: hue-rotate(-142deg) brightness(150%);
    filter: hue-rotate(-142deg) brightness(150%);
}
#yellow-button{
    -webkit-filter: hue-rotate(60deg) brightness(350%);
    filter: hue-rotate(60deg) brightness(350%);
}
